<div class="container">
    <app-header></app-header>
    <router-outlet></router-outlet>
    <app-bienvenidos></app-bienvenidos>
    <app-siguenos></app-siguenos>
    <app-beneficios></app-beneficios>
    <app-footer></app-footer>
</div>
