.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}
.imagen{
  width: 100%;
}
.flex-item-left {
  background-color: #e8e8e8;
  padding: 10px;
  flex: 50%;
  
}

.flex-item-right {
  background-color: #e8e8e8;
  padding: 10px;
  flex: 50%;
}
.text-div{
  text-align: center;
  display: block;
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  margin-top: 14%;
  margin-bottom: 17%;
}
.txt{
  text-align: center;
  display: block;
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  margin-top: -44%;
  margin-bottom: 17.9%;
  background-repeat: repeat;
}

.images{
  width: 100%;
  overflow:hidden;
}
 ul {
  display: flex;
  margin-top: -16%;
  list-style: none;
}

 li {
  flex: auto ;
}
.svg-inline--fa.fa-w-16 {
  width: 1em;
  margin-left: -18%;
}
.follow{
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 16px;
  color: #56C4FF !important;
  background-color: transparent;
  border-radius: 27px;
  border: 2px solid #56C4FF;
  transition: background-color .5s;
  box-shadow: 2px 2px 5px #999;
  padding-left: 11%;
  padding-right: 9%;
}
.follow:hover{
  color: #262626;
  background-color: #ceece5;
}
.texto{
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.li1{
  color: #ffffff;
}
.li2{
  margin-left: -84%; 
  color: #ffffff; 
  font-family: Arial, Helvetica, sans-serif;
}
/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
  .l1{
    width: 2%;
  }
  .li2{
    margin-left: -65%; 
    color: #ffffff; 
    font-family: Arial, Helvetica, sans-serif;
  }
  .svg-inline--fa.fa-w-16 {
    width: 1em;
    margin-left: -48%;
  }
  .txt{
    text-align: center;
    display: block;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-top: -52%;
    margin-bottom: 21.9%;
    background-repeat: repeat;
  }
  ul {
    display: flex;
    margin-top: -16%;
    list-style: none;
    font-size: 20px;
  }
  
   li {
    flex: auto ;
  }
  .button{
    margin-bottom: 8%;
    font-size: 17px
  }
  .text-div {
    text-align: center;
    display: block;
    font-size: 31px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-top: 14%;
    margin-bottom: 17%;
}
}