<section id="section-siguenos">
    <div class="flex-container">
        <div class="flex-item-left">
            <img src="../../../../assets/images/img_woloxer.png"  class="imagen"/>
            <p class="txt">
                <span style="color: #5CE042; font-weight: bold !important;">350</span>
                <span style="color: #5CE042; font-weight: 100 !important;"> + </span>
                <span style="color: #56C4FF; font-weight: bold !important;"> Woloxers</span>
            </p>
            <ul>
                <li class="li1"><i class="fab fa-twitter"></i></li>
                <li class="li2">@Wolox</li>
            </ul>
            <div>
                <div class="button">
                    <a href="https://twitter.com/Wolox" target="_blank" class="texto follow">Siguenos</a>
                </div>
            </div>
        </div>
        <div class="flex-item-right">
            <p class="text-div" style="color: #595959;">Trabajamos para<br>
                <span style="color: #56C4FF; font-weight: bold !important;">convertir </span>
                <span style="color: #5CE042; font-weight: bold !important;">ideas</span> en<br>productos.
            </p>
        </div>
      </div>
</section>

