footer{
	width: 100%;
	text-align: center;
}

.icon{
    width: 10%;
    display: block;
    margin: auto;
}
.text1{
    text-align: center;
    
}
.text2{
    text-align: center;
}
.button{
    text-align: center;
    margin-bottom: 6%;
    margin-top: 5%;
}
.p1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-top: 6%;
    line-height: 42px;
    color: #595959;
}
.p2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 29px;
    line-height: 0;
    color: #595959;
}
.follow{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff !important;
    background-color: #56C4FF;
    border-radius: 27px;
    border: 2px solid #56C4FF;
    transition: background-color .5s;
    box-shadow: 2px 2px 5px #999;
    padding-left: 5%;
    padding-right: 5%;
    font-family: Arial, Helvetica, sans-serif;
  }
  .follow:hover{
    color: #262626;
    background-color: #ceece5;
  }
  @media screen and (max-width: 800px){
      .icon{
        width: 30%;
      }
      .p1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 32px;
        margin-top: 6%;
        line-height: 42px;
        color: #595959;
    }
    .p2{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        line-height: 0;
        color: #595959;
        margin-bottom: 13%;
    }
  }