<footer>
    <div class="container">
        <div class="row">
            <div class="text1">
                <p class="p1">Gracias por <span style="color: #56C4FF;">completar el ejercicio</span></p>
            </div>
            <div class="text2">
                <p class="p2">Te invitamos a ver más información</p>
            </div>
            <div class="button">
                <a href="https://www.wolox.com.ar/" target="_blank" class="texto follow">Conocer más</a>
            </div>
            <div class="icono">
                <img src="../../../../assets//iconos/Ic_Wolox_Footer.svg" class="hidden-xs icon"/>
            </div>
        </div>
    </div>
</footer>
