<div class="container">
  <div class="logo"><img src="../../../../assets/iconos/logo_full_color.svg" class="image" routerLink='/'/></div>
  <div class="login-item">
    <form [formGroup]="myForm" (ngSubmit)="login()" method="post" class="form form-login">
      <div class="form-field">
        <label class="user" for="login-username"><span class="hidden">Username</span></label>
        <input id="login-username" type="text" class="form-input" placeholder="Username" formControlName="userName">
      </div>

      <div class="form-field">
        <label class="lock" for="login-password"><span class="hidden">Password</span></label>
        <input id="login-password" type="password" class="form-input" placeholder="Password" formControlName="Password">
      </div>

      <div class="form-field redirection">
        <a routerLink="/register" class="link">Register Now</a>
      </div>

      <div class="form-field">
        <button  type="submit" [disabled]="!myForm.valid" value="Log in" routerLink="/list">Log in</button>
      </div>
    </form>
  </div>
</div>