<header>
  <img src="../../../../assets/iconos/logo_full_color.svg" class="navbar-brand-img hidden-xs img-logo" routerLink="/"/>
  <input type="checkbox" id="check" class="navbar navbar-expand-lg navbar-togglable navbar-dark bg-primary">
	<label for="check" class="nav-mobile icon-menu"><span class="nav-toggle"><i class="fas fa-bars"></i></span></label>

  <nav class="menu navbar navbar-expand-lg navbar-togglable navbar-dark bg-primary">
      <ul class="nav-list">
        <li id="inicio">
          <a (click)="toHome()" class="text" id="inicio2">Inicio</a>
        </li>
        <li id="siguenos">
          <a (click)="toSiguenos()" class="text" id="siguenos2">Siguenos</a>
        </li>
        <li id="beneficios">
          <a (click)="toBeneficios()" class="text" id="beneficios2">Beneficios</a>
        </li>
        <li class="button-login">
          <a routerLink="login" class="text button">Login</a>
        </li>
      </ul>
  </nav>
</header>