header{
	width: 99%;
	background: #ffffff;
	position: fixed;
	z-index: 100;
  margin-top: -1%;
}

.img-logo{
	width: 15%;
  margin-left: 5%;
  padding: 5px;
    margin-top: 30px;
}

.menu{
	float: right;
	margin-top: 18px;
	margin-right: 1%;
}

.menu ul{
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.menu li{
	list-style: none;
	margin: 10px;
}

.menu li a{
	color: white;
	text-decoration: none;
	padding: 15px 10px;
	font-weight: bold;
	font-size: 18px;
	color: #878787;
}
.menu li a:hover{
	color: white;
	-webkit-transition: all 300ms;
	transition: all 300ms;
}

.menu li:nth-child(1) a{
    color:rgb(44, 44, 44);
}

#check{
	display: none;
}
.icon-menu{
	display: none;
}

#check:checked ~ .menu{
  height: 178px;
  transition: all 300ms;
  width: 34%;
}

@media screen and (max-width: 800px){
  .nav-mobile {
    display: none;
    position: absolute;
    top: 0px;
    right: 46px;
    height: 46px;
    width: 49px;
    background: black;
    border-radius: 10%;
  }
  nav {
    float: right;
    margin-right: -9%;
    margin-top: 1.2%;
  }
  .button-login{
    margin-right: 16%; 
    margin-left: 37px;
  }
	.icon-menu{
		display: block;
		color: white;
		float: right;
		padding: 5px;
		margin-top: 16px;
		margin-right: 14px;
		font-size: 26px;
		border: 1px solid #5B5B5B;
		border-radius: 5px;
	}
	.icon-menu:hover{
		background: #434343;
		cursor: pointer;
	}

	.menu{
		float: left;
		margin-top: 0px;
		width: 25%;
		background: #ffffff;		
		overflow: hidden;
		height: 0px;
		-webkit-transition: all 300ms;
		transition: all 300ms;
	}

	.menu ul{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		width: 100%;
	}

	.menu li{
		margin:0px;
	}

	.menu li a{
		display: block;
		padding: 10px;
	}
	.img-logo{
		margin-left: -18%;
    width: 26%;
	}
}

/*-----------------------------------*/


.text{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.button{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #56C4FF !important;
    background-color: #ffffff;
    border-radius: 27px;
    border: 2px solid #56C4FF;
    padding-left: 122%;
    transition: background-color .5s;
    box-shadow: 2px 2px 5px #999;
  }
  .button:hover{
    color: #262626;
    background-color: #ceece5;
  }
  .button :focus{
    color: #ffffff;
  }
   
  .brand {
    position: absolute; 
    float: left;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 5.4em;
    left: 5%;
  }
  .brand a img {
      max-height: 70px;
  }
  .brand a,
  .brand a:visited {
    color: #ffffff;
    text-decoration: none;
  }
   
  .nav-container {
    max-width: 1000px;
    margin: 0 auto;
  }
   
  nav {
    float: right;
    margin-right: -9%;
    margin-top: 1.2%;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav ul li {
    float: left;
    position: relative;
  }
  nav ul li a,
  nav ul li a:visited {
    display: block;
    padding: 0px 29px;
    line-height: 42px;
    color: #262626;
    text-decoration: none;
  }
  nav ul li a:not(:only-child):after,
  nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
    content: ' ▾';
  }
  nav ul li ul li {
    min-width: 190px;
  }
  nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
  }
   
  .nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
  }
  .nav-mobile {
    display: none;
    position: absolute;
    top: 0px;
    right: 16px;
    height: 46px;
    width: 49px;
    background: black;
    border-radius: 10%;
  }
   
  @media only screen and (max-width: 798px) {
    .nav-mobile {
      display: block;
    }
   
    nav {
      width: 100%;
      padding: 70px 0 15px;
    }
    nav ul {
      display: none;
    }
    nav ul li {
      float: none;
    }
    nav ul li a {
      padding: 15px;
      line-height: 15px;
      padding-left: 25%;
       
    }
    nav ul li ul li a {
      padding-left: 30%;
    }
   
    .nav-dropdown {
      position: static;
    }
      .brand a img {
          max-height: 60px;
          margin-top: 5px;
      }
  }
  @media screen and (min-width: 799px) {
    .nav-list {
      display: block !important;
    }
  }
  .nav-toggle {
    position: absolute;
    left: 18px;
    top: 5px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
  }
  .nav-toggle span,
  .nav-toggle span:before,
  .nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  .nav-toggle span:before {
    top: -10px;
  }
  .nav-toggle span:after {
    bottom: -10px;
  }
  .nav-toggle.active span {
    background-color: transparent;
  }
  .nav-toggle.active span:before, .nav-toggle.active span:after {
    top: 0;
  }
  .nav-toggle.active span:before {
    transform: rotate(45deg);
  }
  .nav-toggle.active span:after {
    transform: rotate(-45deg);
  }
   
  article {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
  }