#columnas{
  column-count:2;
  column-gap:20px;
  background: rgba(226, 217, 217, 0.788);
}
.p1{
  margin: 0; 
  font-size: 20px; 
  font-family: Arial, Helvetica, sans-serif;
}
.p2{
  text-align: center; 
  font-size: 20px; 
  font-family: Arial, Helvetica, sans-serif;
}
nav{
  background: #56C4FF;
}
h1{
  font-family: Arial, Helvetica, sans-serif;
}
table{
  border: 1px solid #000;
  border-collapse:collapse ;
  background-color: rgba(226, 217, 217, 0.788);
  width: 100%;
}

table td{
  border: 1px solid #000;
  padding: 7px;
}

table tr :hover{
  background: rgb(243, 243, 243);
}
.button-retroced{
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}
.button{
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 16px;
  color: #56C4FF !important;
  background-color: #ffffff;
  border-radius: 27px;
  border: 2px solid #56C4FF;
  padding-left: 5%;
  transition: background-color .5s;
  box-shadow: 2px 2px 5px #999;
  padding-right: 5%;
}
.button:hover{
  color: #262626;
  background-color: #ceece5;
}
.button :focus{
  color: #ffffff;
}
.form-group{
  margin-bottom: 3%;
}
.form-control{
  width: 50%;
  padding: 8px;
  margin-top: 25px;
}
.logo{
 text-overflow: ellipsis;
 overflow: hidden;
}
.favorite{
  margin-left: 37%;
}
@media screen and (max-width: 800px) {
  .favorite{
    margin-left: 0%;
  }
  table {
      width:100%;
  }
  thead {
      display: none;
  }
  tr:nth-of-type(2n) {
      background-color: inherit;
  }
  tr td:first-child {
      background: #f0f0f0;
      font-weight:bold;
      font-size:1.3em;
  }
  tbody td {
      display: block;
      text-align:center;
  }
  tbody td:before {
      content: attr(data-th);
      display: block;
      text-align:center;
  }
  .button{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #56C4FF !important;
    background-color: #ffffff;
    border-radius: 27px;
    border: 2px solid #56C4FF;
    padding-left: 5%;
    transition: background-color .5s;
    box-shadow: 2px 2px 5px #999;
    padding-right: 5%;
    margin-right: -157%;
  }
  .button:hover{
    color: #262626;
    background-color: #ceece5;
  }
  .button-retroced{
    text-align: center;
    margin-top: 13%;
    margin-bottom: 12%;
  }
}
@media screen and (max-width: 199px) {
  table {
    display: block;
    overflow-x: auto;
  }
  .button{
    margin-right: -5% !important;
  }
}