<div class="container">
    <div class="form-group">
        <h1>List to lenguage programming</h1>
        <input type="text" class="form-control" name="filterPost" placeholder="Search..." [(ngModel)]="filterPost"/> 
    </div>
    <table class="table">
        <thead>
            <th scope="col" (click)="sort('author')">Author <i class="fa fa-sort"></i></th>
            <th scope="col">Language</th>
            <th scope="col">License</th>
            <th scope="col">Logo</th>
            <th scope="col">Tech</th>
            <th scope="col">Type</th>
            <th scope="col">Year</th>
            <th scope="col">Favoritos</th>
        </thead>
        <tbody>
            <tr *ngFor="let list of listProgram | filter: filterPost | orderBy: key: reverse">
                <td>{{list.author}}</td>
                <td>{{list.language}}</td>
                <td>{{list.license}}</td>
                <td class="logo">{{list.logo}}</td>
                <td>{{list.tech}}</td>
                <td>{{list.type}}</td>
                <td>{{list.year}}</td>
                <td>
                    <input type="checkbox" class="favorite"/>
                </td>
            </tr>
        </tbody>
    </table>
    <div id="columnas">
        <div><p class="p1">Total Technologies:</p></div>
        <div><p class="p2">18 technologiess</p></div>
    </div>
    <div class="button-retroced">
        <a class="button" href="/">Log Out</a>
    </div>
</div>
