@import url('https://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css');
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

.is-invalid {
    border-left: solid 6px red;
  }
*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 700px;
    width: 100%;
    background: rgba(58,63,68,0.5);
    padding: 25px 30px;
    border-radius: 5px;
    margin-left: 25%;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: #9b59b6;
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box select{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-details .input-box select:focus,
.user-details .input-box select:valid{
    border-color: #9b59b6;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #9b59b6;
}
form .button{
    height: 45px;
    margin: 45px 0;
}
form .button button{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #56C4FF, #ffffff) ;
    border-radius: 5px;
}
form .button button:hover{
    background: linear-gradient(-135deg, #56C4FF, #ffffff) ;
}

@media (max-width: 584px){
    .container{
        max-width: 100%;
        margin-left: 0% !important;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%
    }
    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 0;
    }
}

.span-terminos{
    position:relative;
    top:4px;
    color:#ffffff;
}
.enlace-terminos{
    color:#3ca3c9; 
    font-weight:700; 
    text-decoration:none;
}
div.contenedor-terminos{
     position:relative;
     top:15px;
}
div.contenedor-terminos [type="checkbox"] {
    position: absolute;
    opacity: 0;
}

div.contenedor-terminos [type="checkbox"]+label {
    position: relative;
    cursor: pointer;
    padding: 0
}

div.contenedor-terminos [type="checkbox"]+label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 18px;
    height: 18px;
    background: #f8f9fa;
    border: 1px solid #b7d8d1;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    margin-top: 2px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease
}

div.contenedor-terminos [type="checkbox"]:hover+label:before {
    background: #f8f9fa;
    border-color: #1abc9c
}

div.contenedor-terminos [type="checkbox"]:checked+label:before {
    background: #1abc9c;
    border-color: #1abc9c
}

div.contenedor-terminos [type="checkbox"]:disabled+label {
    color: #b8b8b8;
    cursor: auto
}

div.contenedor-terminos [type="checkbox"]:disabled+label:before {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #ddd
}

div.contenedor-terminos [type="checkbox"]:checked+label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 11px;
    background: white;
    width: 2px;
    height: 2px;
    -webkit-box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}