<div class="container">
    <div class="title">Registration</div>
        <form [formGroup]="userForm"  (ngSubmit)="onSubmit(userForm.value)" method="post" novalidate>
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Firts Name</span>
                    <input type="text" placeholder="Enter your Firtsname" formControlName="firstName">
                    <div *ngIf="getControl.firstName.touched && getControl.firstName.invalid" class="text-danger">
                        <div *ngIf="getControl.firstName.errors?.required">Firstname is required.</div>
                        <div *ngIf="getControl.firstName.errors?.minlength">Minimum 4 character are required.</div>
                    </div>
                </div>
                <div class="input-box">
                    <span class="details">Last Name</span>
                    <input type="text" placeholder="Enter your Lastname" formControlName="lastName">
                    <div *ngIf="getControl.lastName.touched && getControl.lastName.invalid" class="text-danger">
                        <div *ngIf="getControl.lastName.errors?.required">lastName is required.</div>
                        <div *ngIf="getControl.lastName.errors?.minlength">Minimum 4 character are required.</div>
                    </div>
                </div>
                <div class="input-box">
                    <span class="details">Country</span>
                    <select [(ngModel)]="selectedCountry.id" (ngModelChange)="onSelect($event)" formControlName="Country"> 
                        <option *ngFor="let country of countrie" value="{{country.id}}">
                            {{country.name}}
                        </option>
                    </select>
                    <div *ngIf="getControl.Country.touched && getControl.Country.invalid" class="text-danger">
                        <div *ngIf="getControl.Country.errors?.required">Country is required.</div>
                    </div>
                </div>
                <div class="input-box">
                    <span class="details">Province</span>
                    <select formControlName="Province"> 
                        <option *ngFor="let city of province" value="{{city.id}}">
                            {{city.name}}
                        </option>
                        <div *ngIf="getControl.Province.touched && getControl.Province.invalid" class="text-danger">
                            <div *ngIf="getControl.Province.errors?.required">Province is required.</div>
                        </div>
                    </select>
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="email" placeholder="Enter your Email" formControlName="Email" required>
                    <div *ngIf="getControl.Email.touched && getControl.Email.invalid" class="text-danger">
                        <div *ngIf="getControl.Email.errors?.required">Email is required.</div>
                        <div *ngIf="getControl.Email.errors?.email">Email seems invalid.</div>
                      </div>
                </div>
                <div class="input-box">
                    <span class="details">Phone Number</span>
                    <input type="text" placeholder="Enter your Number" formControlName="Number" required>
                    <div *ngIf="getControl.Number.touched && getControl.Number.invalid" class="text-danger">
                        <div *ngIf="getControl.Number.errors?.required">Number is required.</div>
                        <div *ngIf="getControl.Number.errors?.minlength">Minimum 4 character are required.</div>
                        <div *ngIf="getControl.Number.errors?.maxlength">Maximum 10 character are required</div>
                        <div *ngIf="getControl.Number.errors?.pattern">Only Number Character</div>
                    </div>
                </div>
                <div class="input-box">
                    <span class="details" [ngClass]="userForm.controls['Password'].invalid ? 'tex-danger': ''   ">Password</span>
                    <input type="password" placeholder="Enter your Password" formControlName="Password" required [ngClass]="userForm.controls['Password'].invalid ? 'is-invalid': ''   ">
                    <label class="col"  [ngClass]="userForm.controls['Password'].hasError('required') || userForm.controls['Password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
                        {{ userForm.controls['Password'].hasError('required') ||
                            userForm.controls['Password'].hasError('minlength')}}
                            <ul style="font-family: Arial, Helvetica, sans-serif; letter-spacing: 1px;">
                                <li>Must be at least 6 characters!</li>
                                <li>You must write at least 1 numeric character.</li>
                                <li> You must write at least 1 CapitalCase character.</li>
                                <li> You must write at least 1 SmallCase character.</li>
                                <li>You must write at least 1 Special Character.</li>
                            </ul>   
                      </label>
                      <label class="col" style="display: none;" [ngClass]="userForm.controls['Password'].hasError('required') || userForm.controls['Password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
                        {{ userForm.controls['Password'].hasError('required') ||
                            userForm.controls['Password'].hasError('hasNumber')}}
                            You must write at least 1 numeric character.
                      </label>
                      <label class="col" style="display: none;" [ngClass]="userForm.controls['Password'].hasError('required') || userForm.controls['Password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
                        {{ userForm.controls['Password'].hasError('required') ||
                            userForm.controls['Password'].hasError('hasCapitalCase')}}
                            You must write at least 1 CapitalCase character.
                      </label>
                      <label class="col" style="display: none;" [ngClass]="userForm.controls['Password'].hasError('required') || userForm.controls['Password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
                        {{ userForm.controls['Password'].hasError('required') ||
                            userForm.controls['Password'].hasError('hasSmallCase')}}
                            You must write at least 1 SmallCase character.
                      </label>
                      <label class="col" style="display: none;" [ngClass]="userForm.controls['Password'].hasError('required') || userForm.controls['Password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
                        {{ userForm.controls['Password'].hasError('required') ||
                            userForm.controls['Password'].hasError('hasSpecialCharacters')}}
                      </label>
                </div>
                <div class="input-box">
                    <span class="details"  [ngClass]="userForm.controls['Confirm'].invalid ? 'text-danger' : ''">Confirm Password</span>
                    <input type="password" placeholder="Confirm your Password" formControlName="Confirm" [ngClass]="userForm.controls['Confirm'].invalid ? 'is-invalid' : ''">
                    <label class="text-danger" *ngIf="userForm.controls['Confirm'].hasError('required')">
                        Password is Required!
                      </label>
                      <label class="text-danger" *ngIf="userForm.controls['Confirm'].hasError('NoPassswordMatch')">
                        Password do not match
                      </label>
                </div>
            </div>
            
            <div class="contenedor-terminos">
                <input type="checkbox" data-required="1" name="terminos" id="terminos" value="" formControlName="Accept">
                <label for="terminos">
                    <span class="span-terminos">Acepto la 
                        <a target="_blank" href="#" class="enlace-terminos">
                            politica de privacidad</a>
                    </span>
                </label>
            </div>   
            <div class="button">
                <button type="submit" [disabled]="!userForm.valid" (click)="localStorageData()" routerLink="/login">Register</button>
            </div>
        </form>
</div>


