.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
  background-color: transparent;
  padding: 10px;
  flex: 50%;
  margin-top: 10%;
}

.flex-item-right {
  background-color: transparent;
  padding: 10px;
  flex: 50%;
  margin-top: 10%;
}
.image{
  width: 40%;
  max-width: 400px;
  height: auto;
}
.image:hover {
-webkit-transform: rotateY(180deg);
-webkit-transform-style: preserve-3d;
transform: rotateY(180deg);
transform-style: preserve-3d;}

.tecni{
  font-weight: bold;
}
.wolox{
  font-weight: bold;
  color: #5CE042;
}
.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5vw;
    line-height: 42px;
    color: #595959;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
  .title {
    font-size: 5.5vw;
    line-height: 42px;
    margin-top: 20%;
}
}