<section id="section-bienvenidos">
    <div class="flex-container">
        <div class="flex-item-left">
            <p class="title">Bienvenido a tu<br><span class="tecni">Entrevista Técnica</span> en<br><span class="wolox">Wolox</span></p>
        </div>
        <div class="flex-item-right">
            <img src="../../../../assets/images/Ic_ilustra_Hero.png" class="image"/>
        </div>
      </div>
</section>
