<section id="section-beneficios">
    <p class="text">
        Entre los beneficios que ofrecemos se encuentran<span style="color: #56C4FF;"> ;)</span>
    </p>
    <div class="flex-container">
        <div class="flex-item-left">
            <img src="../../../../assets/iconos/Ic_Hour.svg" class="image"/>
            <p class="txt">Flexebilidad<br>horaria</p>
        </div>
        <div class="flex-item-right">
            <img src="../../../../assets/iconos/Ic_HomeOffice.svg" class="image"/>
            <p class="txt">Home Office</p>
        </div>
        <div class="flex-item-left">
            <img src="../../../../assets/iconos/Ic_Workshops.svg" class="image"/>
            <p class="txt">Capacitaciones<br>y Workshops</p>
        </div>
        <div class="flex-item-right">
            <img src="../../../../assets/iconos/Ic_DrinkSnacks.svg" class="image"/>
            <p class="txt">Snacks, frutas<br>y bebidas gratis</p>
        </div>
        <div class="flex-item-left">
            <img src="../../../../assets/iconos/Ic_laptop.svg" class="image"/>
            <p class="txt" style="padding-top: 12%;">Semana<br>Remota</p>
        </div>
        <div class="flex-item-right">
            <img src="../../../../assets/iconos/Ic_brain.svg" class="image"/>
            <p class="txt">Trabajar<br>en ultimas<br>Tecnologias</p>
        </div>
      </div>
</section>
