.text{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 33px;
    color: #595959;
    text-align: center;
}
.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
  }
  
  .flex-item-left {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 50%;
  }
  
  .flex-item-right {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 50%;
  }
  .txt{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #595959;
    font-size: large;
}
.image{
    width: 42%;
    margin-top: 12%;
}
  /* Responsive layout - makes a one column-layout instead of two-column layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
    .image{
        width: 25%;
        margin-top: 12%;
    }
    .text{
      font-size: 23px;
    }
  }
